body {
	font-family: 'Raleway', sans-serif !important;
	color:#fff;
}
.logo{
outline: 1px solid red;
width: 200px;
height: auto;
}
.grad70{
	background: linear-gradient( rgb(15, 138, 3)35%, rgb(237, 229, 14))
}
.container-flex-column{
display: flex;
flex-direction: column;
justify-content:center;
padding: 2rem;

}
/*Sign-UP*/
.vh100{
height: 120vh;
}
.images{
padding: 2rem;
}


/*****************************/

