body {
	font-family: 'Raleway', sans-serif !important;
  color:#fff;
}

.logo{
  /*outline: 1px solid red;*/
  width: 60%;
  height: auto;
}

.grad70{
	background: linear-gradient( rgb(15, 138, 3)35%, rgb(237, 229, 14))
}

.container-flex-column{
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 2rem;
}

.vh {
  height: 100vh;
}

.vh100{
height: 120vh;
}

.images{
padding: 2rem;
}
.big span,.small span{
  font-size: 4rem;
}



/*****************************/

.container-search img {
	position: relative;
	display: inline-block;
	width: 30%;
	height: 30%;
	text-align: center;
	height: auto;
	left: 30%;
}

.text {
	color: black;
	width: 100%;
}

[alt="google maps restaurantes"] {
	width: 49%;
}
.text{
  font-size: 2rem;
}
.form-control{
  font-size: 1.5rem;
}

@media only screen 
and (min-device-width: 250px) 
and (max-device-width: 767px) {
  h2 {
   font-size: 1.7rem;
   font-weight: bold;
   color: #f5d207;
  }

  .big span,
  .small span {
    font-size: 2.5rem;
  }

}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1224px) {
  h2 {
   font-size: 1.7rem;
   font-weight: bold;
   color: #f5d207;
  }

  .big span,
  .small span {
    font-size: 3rem;
  }

}