*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.background{
background-color: #04697D;
color:white;

}
.footer-center{
text-align: center;
}
.im{

}
.float{
	float: left;
}
  table{
border-collapse: separate;
border-spacing: 0.5rem;
}