<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/gv-colecction.css">
      <link rel="stylesheet" href="../css/modal.css">
    <title>SignUp</title>
</head>
<body class="grad70">
  <div class="container">
    <a href="select-eat.html" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
      <a href="#modalyv" data-toggle="modal" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true">Visitanos!!!!!</span>
      </a>
      <h2> Yami Vegan...ven a disdrutar!!!</h2>
                <!--Modal Yami Vegan-->
                <div class="modal fade" id="modalyv">
                  <div class="modal-dialog">
                    <div class="modal-content background">
                      <!--Cabecera de la ventana-->
                      <div class="modal-header background">
                        <a type="button" class="close" href="select-eat.html" aria-hidden="true">&times;</a>
                        <h1 class="modal-title text-center"> Yamil Vegan</h1>
                      </div>
                      <!--Contenido de la ventana-->
                      <div class="modal-body">
                        <img src="../assets/img/yv2/ruta-yv.png" class="img-responsive" alt="">
                        <div class="background">
                          <br>
                          <table>
                            <tr>
                              <td rowspan="3">
                                <h4 class="text-center"> Jirón Domingo Casanova 254 </h4>
                                <h5 class="text-center"> Lince LIMA 14</h5>
                                <h5 class="text-center"> Phone: (01) 2216939</h5>
                              </td>
                            </tr>
                            <tr>
                              <td rowspan="3">
                                <img src="../assets/img/yv2/modal-yv.png" class=" img-responsive img-width" alt="">
                              </td>
                            </tr>
                          </table>
                          <br>
                          <select class="form-control width-select">
                            <option value="">Horarios de atenciòn</option>
                            <option value="">Miércoles: 12:00–09:00 </option>
                            <option value="">Jueves: 12:00–09:00</option>
                            <option value="">Viérnes: 12:00–09:00</option>
                            <option value="">Sabado: 12:00–09:00</option>
                            <option value="">Domingo: 12:00–09:00</option>
                            <option value="">Lunes: 12:00–09:00</option>
                            <option value="">Martes: 12:00–09:00</option>
                            <option value="">Feriados: Horarios variables</option>
                          </select>
                        </div>
                      </div>
                      <!--Footer de la ventana-->
                      <div class="modal-footer background footer-center">
                        <a type="button" class="btn btn-default " href="select-eat.html" id="gv-close">cerrar</a>
                      </div>
                    </div>
                  </div>
                </div>
      
    <div class="row">
      <div class="col-xs-12">
        <div class="cptn04">
          <img src="../assets/img/yv2/yv1.png" class="img-responvive" alt="">
          <div class="cptn">
            <h3>Ensalada de quinua</h3><br>
            <p>Ensalada de quinua nueces y camotes, acompañada de de vegetales y salsa natural.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cptn04">
          <img src="../assets/img/yv2/yv2.png" class="img-responvive" alt="">
          <div class="cptn">
            <h3>Ceviche</h3>
            <br>
            <p>Fresco, intenso, irresistible... el Ceviche Yami te atrapa inevitablemente. ¡Déjate llevar por la tentación!</p>
          </div>
        </div>
      </div>
    </div>
  </div><br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="cptn04">
            <img src="../assets/img/yv2/yv3.png" class="img-responvive" alt="">
            <div class="cptn">
              <h3>Brochetas de Vegetales</h3>
              <br>
              <p>Deliciosa Lasagna, hecha de frutos naturales y frescos acompañado de semillas naturales</p>
            </div>
          </div>
        </div>
      </div>
    </div><br>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="cptn04">
              <img src="../assets/img/yv2/yv4.png" class="img-responvive" alt="">
              <div class="cptn">
                <h3>Roti de mashuas con vegetales. </h3>
                <br>
                <p>Roti de mashuas con vegetales. Buenote es poco.</p>
              </div>
            </div>
          </div>
        </div>
      </div><br>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="cptn04">
                <img src="../assets/img/yv2/yv5.png" class="img-responvive" alt="">
                <div class="cptn">
                  <h3>Ensalada natural</h3>
                  <br>
                  <p>Mix de hojas, tomatitos, vegetales de raiz, nueces, pasas germinados y aliño de semillas de girasol</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src="../js/efect-colecction.js"></script>
</body>

</html>