<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/gv-colecction.css">
    <link rel="stylesheet" href="../css/modal.css">
    <title>Germinando Vida</title>
</head>
<body class="grad70"> 
  <div class="container">
    <a href="select-eat.html" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true">back</span>
    </a>
      <a href="#ventana1" data-toggle="modal" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true">Visitanos!!!!!</span>
      </a>
        <!--Modal Germinando Vida-->
        <div class="modal fade" id="ventana1">
          <div class="modal-dialog">
            <div class="modal-content background">
              <!--Cabecera de la ventana-->
              <div class="modal-header background">
                <a type="button" class="close" href="select-eat.html" aria-hidden="true">&times;</a>
                <h1 class="modal-title text-center"> Germinano Vida</h1>
              </div>
              <!--Contenido de la ventana-->
              <div class="modal-body">
                <img src="../assets/img/gv1/ruta-gv.png" class="img-responsive " alt="">
                <div class="background">
                  <br>
                  <table>
                    <tr>
                      <td rowspan="3">
                        <h4 class="text-center lead"> Av. Almte. Miguel Grau 209A </h4>
                        <h5 class="text-center lead"> Lima-Barranco 15063</h5>
                        <h5 class="text-center lead"> Phone: (01) 3000602</h5>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="3">
                        <img src="../assets/img/gv1/modal-gv.png" class=" img-responsive" alt="">
                      </td>
                    </tr>
                  </table>
                  <br>
                  <select class="form-control width-select">
                    <option value="">Horarios de atenciòn</option>
                    <option value="">Miércoles: 10–16, 17:30–23</option>
                    <option value="">Jueves: 10–16, 17:30–23</option>
                    <option value="">Viérnes: 10–16, 17:30–23</option>
                    <option value="">Sabado: 10–16, 17:30–23</option>
                    <option value="">Domingo: 11–17</option>
                    <option value="">Lunes: 10–16, 17:30–23</option>
                    <option value="">Martes: 10–16, 17:30–23</option>
                    <option value="">Feriados: Horarios variables</option>
                  </select>
                </div>
              </div>
              <!--Footer de la ventana-->
              <div class="modal-footer background footer-center">
                <a type="button" class="btn btn-default " href="select-eat.html" id="gv-close">cerrar</a>
              </div>
            </div>
          </div>
        </div>
        <!--Fin Modal Germinando Vida-->
        <h2 class="text-center"> Ven a Disfrutar de las delicias que ofrece el restaurante Germinando Vida</h2>
        <div class="row">
          <div class="col-xs-12">
            <div class="cptn04">
              <img src="../assets/img/gv1/gv1.jpg" class="img-responvive" alt="">
              <div class="cptn">
                <h3>Tacu Tacu</h3><br>
                <p>Deliciosa base hecha de papas gratinadas, sobre ella se extiende una salsa hecha de hongos y para acompañar unos trozos de platanos acompañado de una riquisima salsa criolla</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="cptn04">
              <img src="../assets/img/gv1/gv2.jpg" class="img-responvive" alt="">
              <div class="cptn">
                <h3>Spaguetti de zucchini</h3>
                <br>
                <p>Los favoritos de la casa volvieron, en salsa pomodoro, pimientos y champignones salteados, aceitunas
                y nueces trituradas! Frescos, ligeros y sabrosos</p>
              </div>
            </div>
          </div>
        </div>
      </div><br>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="cptn04">
                <img src="../assets/img/gv1/gv3.jpg" class="img-responvive" alt="">
                <div class="cptn">
                  <h3>Hamburgueza de quinua</h3>
                  <br>
                  <p>La hamburguesa de mix de quinua regresó, y más sabrosa que nunca, con BBQ, cebolla caramelizada y pimiento morrón, y nuestra
                  mayo vegana sin aceite 🙌🏻 pídela con pan o full ensalada 🥗, cuál prefieres?</p>
                </div>
              </div>
            </div>
          </div>
        </div><br>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="cptn04">
                  <img src="../assets/img/gv1/gv4.jpg" class="img-responvive" alt="">
                  <div class="cptn">
                    <h3>Manzanitas al horno</h3>
                    <br>
                    <p>Huele a navidad en nuestra casa Manzanitas al horno con canela, pasas, nueces y panela rellenas de crema de vainilla!</p>
                  </div>
                </div>
              </div>
            </div>
          </div><br>
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="cptn04">
                    <img src="../assets/img/gv1/gv5.jpg" class="img-responvive" alt="">
                    <div class="cptn">
                      <h3>Chocolate con Almendras</h3>
                      <br>
                      <p>Nuestro chocolate caliente de almendras y cacao @amazonachocolate cae perfecto en este día frío, con qué postre lo acompañas?
                      <p>
                         Cheesecake de fresas, pankeke con crema de cashew o keke de cacao?
                      </p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src="../js/efect-colecction.js"></script>
</body>

</html>