<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <link rel="stylesheet" href="../css/gvida.css">
  <title>SignUp</title>
</head>
<body class="default-primary-color">
  <h1 class="text-primary-color dark-primary-color">SOY UN SLIDER CON JQUERY</h1>
  <div class="slider">
    <a href="#" id="back" class="text-primary-color ">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
    <img class="img-responsive" src="" alt="" id="img">
    <a href="#" id="next" class="text-primary-color ">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
  </div>
  <div class="controles"></div>

  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../js/gvida.js"></script>
</body>

</html>