<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>SignUp</title>
</head>

<body>
<main class="">
<!--<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"> Food Map</h1>
        <hr>
          <div>
             <img class="img-responsive map" src="../assets/img/rutas1.png" alt="">
              </div>           
                 <div>
                    <select class="form-control" id="select-control">
                    <option value="restaurante">Selecciona un restaurante</option>
                    <option value="vegano-one"> Germinando-Vida</option>
                    <option value="vegano-two"> Abdiel-Vegan</option>
                    <option value="vegano-three"> La Chakra </option>
                    <option value="vegano-four"> Vrinda Perù</option>                    
                </select>
            <div class="box-wrapper">
            <img class="img-responsive" src="" alt="" id="img">            
            <div class="content" style="display:none">
                <div class="animated fadeInUp">
                    <h3>Te gusta este restaurante </h3>
                    <div>
                        <div class="btn btn-primary pull-right animated fadeInLeft custom" id="btn-img" >Click Aqui</div>
                    </div>
                </div>
            </div>
        </div>

                 </div>
                
            
            </div>
            
    </div>
</div>
-->

<section>
  <div class="container">
    <div class="cont-image-fondo-one">
      <div class="row ">
        <div class="col-xs-12">
          <h1 class="text-center"> Food Map</h1>
          <hr>
          <img class="img-responsive map" src="../assets/img/rutas1.png" alt="">
            <div >
              <select class="form-control" id="select-control">
                  <option value="restaurante">Selecciona un restaurante</option>
                  <option value="vegano-one"> Germinando-Vida</option>
                  <option value="vegano-two"> Abdiel-Vegan</option>
                  <option value="vegano-three"> La Chakra </option>
                  <option value="vegano-four"> Vrinda Perù</option>
                </select>
            </div>
            <div>
            <img class="img-responsive content" src="" alt="" id="img">
        <h1 style="visibility:hidden"> Click Aquì</h1>
          </div>
        </div>           
      </div>
    </div>
      
  </div>      
</section>
</main>


    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/select-eat.js"></script>
</body>

</html>